@tailwind base;
@tailwind components;
@tailwind utilities;

.maxWidth{

  max-width: 938px;
  
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 80px;
}

.Hero{
    padding-bottom: 50px;
    font-size: 45px;
}

.content{
  padding-top: 80px;
  padding-left: 150px;
  
}